

body{
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container-donation{
    display: flex;
    flex-direction: column;
    padding: 10%;
}

.img-container-suport{
    padding: 10%;
}

p{
    font-size: 17px;
}

.mercadopago-button:hover {
background-color: #800080;
border-radius: 10px;
    width: 150px;
    height: 50px;
    font-size: 17px;
}

.mercadopago-button {
    border-radius: 10px;
    width: 150px;
    height: 50px;
    font-size: 17px;
    }


.how-to-help{
    background-color: #902C93;
    width: 30%;
    height: 75px;
    display: grid;
    place-items: center;
    border-radius: 25px;    
    box-shadow: 0px 10px 30px 0px rgba(1, 84, 85, 0.2);

}
h3{
    color: #fff;
}

.button-help{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button-help-b{
    display: grid;
    place-items: center;
}

.how-to-help-b{
    
    padding: 20px;
    text-align: center;
    background-color: #902C93;
    width: 40%;
    height: 15p0x;
    display: grid;
    place-items: center;
    border-radius: 25px;    
    box-shadow: 0px 10px 30px 0px rgba(1, 84, 85, 0.2);

}

.bank-data{
    color: black;
}
#footer{
margin-top: 100px;
border-width: 0px;
background-color: #0F0F0F;
border-color: transparent;
height: 200px;
display: grid;
    place-items: center;
}

.container-network{
    display: grid;
    place-items: center;
    
}

.circle{ 
  display: grid;
  place-items: center;
  border: #fff solid 2px;
  height: 48px;
  width: 48px;
  border-radius: 50px;
}

.circle:hover {
    transition-duration: 0s;
    -webkit-opacity: 0.9999;
    background-color: #2E5E86;
    border-color: #2E5E86;
    transition-delay: 0s;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0s;
}

@media (max-width: 600px) {
    body {
        width: 100%;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    iframe {
    width: 300px; 
   }

   .how-to-help-b {
    padding: 20px;
    text-align: center;
    background-color: #902C93;
    width: 100%;
    height: 15p0x;
    display: grid;
    place-items: center;
    border-radius: 25px;
    box-shadow: 0px 10px 30px 0px rgba(1, 84, 85, 0.2);
}

.how-to-help {
    padding: 20px;
    text-align: center;
    background-color: #902C93;
    width: 100%;
    height: 15p0x;
    display: grid;
    place-items: center;
    border-radius: 25px;
    box-shadow: 0px 10px 30px 0px rgba(1, 84, 85, 0.2);
}
.bank-data{
    font-size: 20px;
}
 
}